nav ul li a::after,.mobile-menu a::after{
   position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: #050505;
    bottom: -10px;
    left: 0;
    content: " ";
    transition: .2s all ease-in;
}

nav ul li a,.mobile-menu a{
    position: relative;
}

nav ul li a:hover::after{
    width: 100%;
}
.mobile-menu a:hover::after{
    width: 100%;
}
.mobile-menu a.active::after{
    width: 100%;
}

ul  a.active::after{
    width: 100%;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 9999999999;
}

