@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.vh-100{
  height: 100vh;

}
.w-100{
width: 100%;
}
.mainBackgroundColor{
  background-color: #18181b;
}

